marquee{
    background-color: black;
    color: white;
    padding: 10px;
}
a{
    color: rgb(175, 175, 28);
}
img{
    height: 500px;
}

.images{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    text-align: end;
    margin-left: 20px;

}

.div1{
    display: flex; justify-content: center;
    
}
.col-12{
    
    padding: 0px;
    margin: 0px;
}